In [12]:
import pandas as pd

In [13]:
# import files from sqlite3 database in .csv form d/t computer crashes from sqlite form
fires_file = 'Resources/fires.csv'
geographic_file = 'Resources/geographic_area.csv'

In [14]:
fires_df = pd.read_csv(fires_file)
geographic_df = pd.read_csv(geographic_file)

C:\Users\filip\anaconda\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [15]:
clean_merge = fires_df.merge(geographic_df, on='OBJECTID', how = 'inner')

In [16]:
clean_merge.head()

,OBJECTID,LATITUDE,LONGITUDE,STATE,COUNTY,FIPS_CODE,FIPS_NAME,FIRE_YEAR,FIRE_SIZE,FIRE_SIZE_CLASS,STAT_CAUSE_DESCR,GeographicArea
0,1,40.036944,-121.005833,CA,63,63.0,Plumas,2005,0.10,A,Miscellaneous,AK
1,2,38.933056,-120.404444,CA,61,61.0,Placer,2004,0.25,A,Lightning,AK
2,3,38.984167,-120.735556,CA,17,17.0,El Dorado,2004,0.10,A,Debris Burning,AK
3,4,38.559167,-119.913333,CA,3,3.0,Alpine,2004,0.10,A,Lightning,AK
4,5,38.559167,-119.933056,CA,3,3.0,Alpine,2004,0.10,A,Lightning,AK

In [17]:
clean_merge = clean_merge.filter(['OBJECTID', 'LATITUDE', 'LONGITUDE', 'STATE', 'COUNTY', 'FIPS_CODE', 'FIPS_NAME', 'FIRE_YEAR', 'FIRE_SIZE','FIRE_SIZE_CLASS', 'STAT_CAUSE_DESCR', 'GeographicArea'], axis=1)
clean_merge.head()

,OBJECTID,LATITUDE,LONGITUDE,STATE,COUNTY,FIPS_CODE,FIPS_NAME,FIRE_YEAR,FIRE_SIZE,FIRE_SIZE_CLASS,STAT_CAUSE_DESCR,GeographicArea
0,1,40.036944,-121.005833,CA,63,63.0,Plumas,2005,0.10,A,Miscellaneous,AK
1,2,38.933056,-120.404444,CA,61,61.0,Placer,2004,0.25,A,Lightning,AK
2,3,38.984167,-120.735556,CA,17,17.0,El Dorado,2004,0.10,A,Debris Burning,AK
3,4,38.559167,-119.913333,CA,3,3.0,Alpine,2004,0.10,A,Lightning,AK
4,5,38.559167,-119.933056,CA,3,3.0,Alpine,2004,0.10,A,Lightning,AK

In [18]:
# merged file sent to sqlite3 database via import button
clean_merge.to_csv('Resources/clean_merge.csv')