In [49]:
#import necessaru libraries
import sqlite3 as lite
import pandas as pd
import json 

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [53]:
#create engine
engine = create_engine("sqlite:///Resources/FPA_FOD_20170508.sqlite")

con = lite.connect('Resources/FPA_FOD_20170508.sqlite')

query = "SELECT * FROM fires LIMIT 10;"

df = pd.read_sql_query(query,con)

df.head()
#print column 
print(df.columns)

Index(['OBJECTID', 'FOD_ID', 'FPA_ID', 'SOURCE_SYSTEM_TYPE', 'SOURCE_SYSTEM',
       'NWCG_REPORTING_AGENCY', 'NWCG_REPORTING_UNIT_ID',
       'NWCG_REPORTING_UNIT_NAME', 'SOURCE_REPORTING_UNIT',
       'SOURCE_REPORTING_UNIT_NAME', 'LOCAL_FIRE_REPORT_ID',
       'LOCAL_INCIDENT_ID', 'FIRE_CODE', 'FIRE_NAME',
       'ICS_209_INCIDENT_NUMBER', 'ICS_209_NAME', 'MTBS_ID', 'MTBS_FIRE_NAME',
       'COMPLEX_NAME', 'FIRE_YEAR', 'DISCOVERY_DATE', 'DISCOVERY_DOY',
       'DISCOVERY_TIME', 'STAT_CAUSE_CODE', 'STAT_CAUSE_DESCR', 'CONT_DATE',
       'CONT_DOY', 'CONT_TIME', 'FIRE_SIZE', 'FIRE_SIZE_CLASS', 'LATITUDE',
       'LONGITUDE', 'OWNER_CODE', 'OWNER_DESCR', 'STATE', 'COUNTY',
       'FIPS_CODE', 'FIPS_NAME', 'Shape'],
      dtype='object')

In [65]:
#number of fires by year
yquery = "SELECT FIRE_YEAR, COUNT(DISTINCT FIRE_CODE) AS FIRE_COUNT, AVG(FIRE_SIZE) AS AVERAGE_SIZE FROM fires GROUP BY FIRE_YEAR ORDER BY AVG(FIRE_SIZE) DESC;"
years_df = pd.read_sql_query(yquery,con)
print(years_df)

    FIRE_YEAR  FIRE_COUNT  AVERAGE_SIZE
0        2015       10972    137.174526
1        2012       14738    129.724037
2        2004       11722    118.855760
3        2005       14847    109.082041
4        2011        9227    106.277026
5        2007       12720     96.946091
6        2002        6582     89.923580
7        2006       17910     88.097768
8        1996        5342     79.460604
9        2000        7326     79.234760
10       2009       11605     77.333752
11       2013       10537     69.350145
12       1999        7342     68.039342
13       2003        7073     65.682790
14       2008       11687     63.324652
15       2014        9970     54.218860
16       1994        4467     54.198875
17       1997        3386     52.313024
18       2010       11568     43.728864
19       2001        7186     43.009601
20       1993        3064     35.356208
21       1992        3723     32.364222
22       1998        6413     29.414983
23       1995        3399     28.676755

In [66]:
causequery = "SELECT STAT_CAUSE_DESCR, COUNT(DISTINCT FIRE_CODE), AVG(FIRE_SIZE) FROM fires GROUP BY STAT_CAUSE_DESCR ORDER BY COUNT(DISTINCT FIRE_CODE) DESC"
cause_df = pd.read_sql_query(causequery,con)
print(cause_df)

     STAT_CAUSE_DESCR  COUNT(DISTINCT FIRE_CODE)  AVG(FIRE_SIZE)
0           Lightning                      60556      312.543994
1       Miscellaneous                      33649       44.453310
2               Arson                      28777       33.707961
3            Campfire                      19512       45.036860
4      Debris Burning                      16739       13.928678
5       Equipment Use                      13493       46.060255
6   Missing/Undefined                       6476       52.492610
7            Children                       6383        7.681107
8           Fireworks                       5480       27.670201
9             Smoking                       3688       15.938651
10          Powerline                       1934      111.395547
11           Railroad                       1648       25.395719
12          Structure                        772       45.360746

In [67]:
statequery = "SELECT STATE, COUNT(DISTINCT FIRE_CODE), AVG(FIRE_SIZE) FROM fires GROUP BY STATE ORDER BY COUNT(DISTINCT FIRE_CODE) DESC"

state_df = pd.read_sql_query(statequery,con)
print(state_df)

   STATE  COUNT(DISTINCT FIRE_CODE)  AVG(FIRE_SIZE)
0     CA                      23683       67.242725
1     AZ                      15468       77.901837
2     MT                      13301      154.034541
3     OR                      12727      137.716104
4     CO                      11948       53.936502
5     SD                      10661       50.733637
6     NV                      10522      531.720650
7     UT                      10506      133.927628
8     OK                       9653       74.758674
9     NM                       8988      170.234318
10    ID                       8793      372.890482
11    ND                       8125       27.143427
12    MN                       7316       27.041154
13    WA                       6977      142.697410
14    WY                       5293      169.523555
15    AK                       4636     2509.779198
16    TX                       3706       68.906840
17    FL                       2630       49.154653
18    NC                       1917        6.564892
19    AR                       1322       16.072761
20    LA                       1215       22.024586
21    MS                       1110       14.331488
22    MO                        931       25.596042
23    WI                        905        2.783192
24    NE                        879      121.334348
25    KS                        734      120.241601
26    GA                        676        9.415452
27    SC                        668        6.661331
28    KY                        582       37.465052
29    MI                        564       13.352641
30    VA                        505       15.648139
31    AL                        422       13.828230
32    MD                        388       18.575243
33    IL                        356        9.801253
34    TN                        304       15.620864
35    NY                        302        1.159540
36    PR                        277        6.280894
37    IA                        265       17.293654
38    IN                        263        8.256859
39    WV                        121       26.249877
40    ME                         96        1.867349
41    NJ                         94        5.085496
42    PA                         91        6.282227
43    HI                         44       25.544315
44    MA                         43        2.332342
45    OH                         40        6.879521
46    DE                         25       28.266959
47    DC                         21        0.492424
48    NH                         16        1.575044
49    VT                         11        3.413346
50    RI                          3        1.171688
51    CT                          3        2.259508