In [1]:
#import necessaru libraries

import sqlite3 as lite
import pandas as pd
import json automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [2]:
#create engine
engine = create_engine("sqlite:///Resources/FPA_FOD_20170508.sqlite")

con = lite.connect('Resources/FPA_FOD_20170508.sqlite')

query = "SELECT * FROM fires LIMIT 10;"

df = pd.read_sql_query(query,con)

df.head()
#print column 
print(df.columns)

Index(['OBJECTID', 'FOD_ID', 'FPA_ID', 'SOURCE_SYSTEM_TYPE', 'SOURCE_SYSTEM',
       'NWCG_REPORTING_AGENCY', 'NWCG_REPORTING_UNIT_ID',
       'NWCG_REPORTING_UNIT_NAME', 'SOURCE_REPORTING_UNIT',
       'SOURCE_REPORTING_UNIT_NAME', 'LOCAL_FIRE_REPORT_ID',
       'LOCAL_INCIDENT_ID', 'FIRE_CODE', 'FIRE_NAME',
       'ICS_209_INCIDENT_NUMBER', 'ICS_209_NAME', 'MTBS_ID', 'MTBS_FIRE_NAME',
       'COMPLEX_NAME', 'FIRE_YEAR', 'DISCOVERY_DATE', 'DISCOVERY_DOY',
       'DISCOVERY_TIME', 'STAT_CAUSE_CODE', 'STAT_CAUSE_DESCR', 'CONT_DATE',
       'CONT_DOY', 'CONT_TIME', 'FIRE_SIZE', 'FIRE_SIZE_CLASS', 'LATITUDE',
       'LONGITUDE', 'OWNER_CODE', 'OWNER_DESCR', 'STATE', 'COUNTY',
       'FIPS_CODE', 'FIPS_NAME', 'Shape'],
      dtype='object')

In [6]:
#number of fires by year
yquery = "SELECT FIRE_YEAR, COUNT(DISTINCT OBJECTID) AS FIRE_COUNT, AVG(FIRE_SIZE) AS AVERAGE_SIZE FROM fires GROUP BY FIRE_YEAR ORDER BY FIRE_YEAR DESC;"
years_df = pd.read_sql_query(yquery,con)
print(years_df)

    FIRE_YEAR  FIRE_COUNT  AVERAGE_SIZE
0        2015       74491    137.174526
1        2014       67753     54.218860
2        2013       64780     69.350145
3        2012       72769    129.724037
4        2011       90552    106.277026
5        2010       79889     43.728864
6        2009       78325     77.333752
7        2008       85378     63.324652
8        2007       95573     96.946091
9        2006      114004     88.097768
10       2005       88604    109.082041
11       2004       69279    118.855760
12       2003       68261     65.682790
13       2002       75656     89.923580
14       2001       86587     43.009601
15       2000       96416     79.234760
16       1999       89363     68.039342
17       1998       68370     29.414983
18       1997       61450     52.313024
19       1996       75574     79.460604
20       1995       71472     28.676755
21       1994       75955     54.198875
22       1993       61989     35.356208
23       1992       67975     32.364222

In [4]:
causequery = "SELECT STAT_CAUSE_DESCR, COUNT(DISTINCT OBJECTID), AVG(FIRE_SIZE) FROM fires GROUP BY STAT_CAUSE_DESCR ORDER BY COUNT(DISTINCT FIRE_CODE) DESC"
cause_df = pd.read_sql_query(causequery,con)
print(cause_df)

     STAT_CAUSE_DESCR  COUNT(DISTINCT OBJECTID)  AVG(FIRE_SIZE)
0           Lightning                    278468      312.543994
1       Miscellaneous                    323805       44.453310
2               Arson                    281455       33.707961
3            Campfire                     76139       45.036860
4      Debris Burning                    429028       13.928678
5       Equipment Use                    147612       46.060255
6   Missing/Undefined                    166723       52.492610
7            Children                     61167        7.681107
8           Fireworks                     11500       27.670201
9             Smoking                     52869       15.938651
10          Powerline                     14448      111.395547
11           Railroad                     33455       25.395719
12          Structure                      3796       45.360746

In [5]:
statequery = "SELECT STATE, COUNT(DISTINCT OBJECTID), AVG(FIRE_SIZE) FROM fires GROUP BY STATE ORDER BY COUNT(DISTINCT FIRE_CODE) DESC"

state_df = pd.read_sql_query(statequery,con)
print(state_df)

   STATE  COUNT(DISTINCT OBJECTID)  AVG(FIRE_SIZE)
0     CA                    189550       67.242725
1     AZ                     71586       77.901837
2     MT                     40767      154.034541
3     OR                     61088      137.716104
4     CO                     34157       53.936502
5     SD                     30963       50.733637
6     NV                     16956      531.720650
7     UT                     30725      133.927628
8     OK                     43239       74.758674
9     NM                     37478      170.234318
10    ID                     36698      372.890482
11    ND                     15201       27.143427
12    MN                     44769       27.041154
13    WA                     33513      142.697410
14    WY                     14166      169.523555
15    AK                     12843     2509.779198
16    TX                    142021       68.906840
17    FL                     90261       49.154653
18    NC                    111277        6.564892
19    AR                     31663       16.072761
20    LA                     30013       22.024586
21    MS                     79230       14.331488
22    MO                     17953       25.596042
23    WI                     31861        2.783192
24    NE                      7973      121.334348
25    KS                      7673      120.241601
26    GA                    168867        9.415452
27    SC                     81315        6.661331
28    KY                     27089       37.465052
29    MI                     10502       13.352641
30    VA                     21833       15.648139
31    AL                     66570       13.828230
32    MD                      3622       18.575243
33    IL                      2327        9.801253
34    TN                     31154       15.620864
35    NY                     80870        1.159540
36    PR                     22081        6.280894
37    IA                      4134       17.293654
38    IN                      2098        8.256859
39    WV                     21967       26.249877
40    ME                     13150        1.867349
41    NJ                     25949        5.085496
42    PA                      8712        6.282227
43    HI                      9895       25.544315
44    MA                      2626        2.332342
45    OH                      3479        6.879521
46    DE                       171       28.266959
47    DC                        66        0.492424
48    NH                      2452        1.575044
49    VT                       456        3.413346
50    RI                       480        1.171688
51    CT                      4976        2.259508