In [1]:
import pandas as pd
import json

In [2]:
csv_path = "output/total_fires_yearly_by_state.csv"
fires_state_year_df = pd.read_csv(csv_path)
fires_state_year_df

      FIRE_YEAR STATE    FIRE_SIZE  COUNT_FIRES  AVG_FIRE_SIZE
0          1992    AK   142717.400          481     296.709771
1          1992    AL     1253.200           93      13.475269
2          1992    AR     1478.500          128      11.550781
3          1992    AZ    42593.650         3494      12.190512
4          1992    CA   296439.800        10833      27.364516
...         ...   ...          ...          ...            ...
1209       2015    VT      346.429           87       3.981943
1210       2015    WA  1161646.380         1741     667.229397
1211       2015    WI     2721.440          965       2.820145
1212       2015    WV    17251.370          685      25.184482
1213       2015    WY    36821.225          632      58.261432

[1214 rows x 5 columns]

In [9]:
years_df = fires_state_year_df.groupby(["FIRE_YEAR"]).sum()
years_df

              FIRE_SIZE  COUNT_FIRES  AVG_FIRE_SIZE
FIRE_YEAR
1992       2.199958e+06        67975    2443.969367
1993       2.191696e+06        61989    2340.408942
1994       4.116676e+06        75955    4487.728201
1995       2.049585e+06        71472    3107.596271
1996       6.005156e+06        75574    8913.362023
1997       3.214635e+06        61450    4414.014638
1998       2.011102e+06        68370    3153.887602
1999       6.080200e+06        89363    9043.996600
2000       7.639499e+06        96416    7992.038578
2001       3.724072e+06        86587    2966.339729
2002       6.803258e+06        75656    7205.578898
2003       4.483573e+06        68261    3714.954668
2004       8.234208e+06        69279   10961.418469
2005       9.665105e+06        88604   11394.604668
2006       1.004350e+07       114004    6042.794027
2007       9.265429e+06        95573    6457.217413
2008       5.406532e+06        85378    3430.839016
2009       6.057166e+06        78325    7833.680008
2010       3.493455e+06        79889    4128.814024
2011       9.623597e+06        90552    6068.459407
2012       9.439888e+06        72769    7811.702607
2013       4.492502e+06        64780    4837.430019
2014       3.673490e+06        67753    3071.414718
2015       1.021827e+07        74491   10718.316038

In [ ]:
fires_state_year_df_index = fires_state_year_df.set_index(['FIRE_YEAR', 'STATE'])
fires_state_year_df_index

In [ ]:
result = fires_state_year_df_index.to_json(orient="table")
parsed = json.loads(result)
result