In [8]:
#import necessaru libraries

import sqlite3 as lite
import pandas as pd
import json 
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

In [9]:
#create engine
engine = create_engine("sqlite:///Resources/FPA_FOD_20170508.sqlite")

con = lite.connect('Resources/FPA_FOD_20170508.sqlite')

query = "SELECT * FROM fires LIMIT 10;"

df = pd.read_sql_query(query,con)

df.head()
#print column 
print(df.columns)

Index(['OBJECTID', 'FOD_ID', 'FPA_ID', 'SOURCE_SYSTEM_TYPE', 'SOURCE_SYSTEM',
       'NWCG_REPORTING_AGENCY', 'NWCG_REPORTING_UNIT_ID',
       'NWCG_REPORTING_UNIT_NAME', 'SOURCE_REPORTING_UNIT',
       'SOURCE_REPORTING_UNIT_NAME', 'LOCAL_FIRE_REPORT_ID',
       'LOCAL_INCIDENT_ID', 'FIRE_CODE', 'FIRE_NAME',
       'ICS_209_INCIDENT_NUMBER', 'ICS_209_NAME', 'MTBS_ID', 'MTBS_FIRE_NAME',
       'COMPLEX_NAME', 'FIRE_YEAR', 'DISCOVERY_DATE', 'DISCOVERY_DOY',
       'DISCOVERY_TIME', 'STAT_CAUSE_CODE', 'STAT_CAUSE_DESCR', 'CONT_DATE',
       'CONT_DOY', 'CONT_TIME', 'FIRE_SIZE', 'FIRE_SIZE_CLASS', 'LATITUDE',
       'LONGITUDE', 'OWNER_CODE', 'OWNER_DESCR', 'STATE', 'COUNTY',
       'FIPS_CODE', 'FIPS_NAME', 'Shape'],
      dtype='object')

In [13]:
#number of fires by year
yquery = "SELECT FIRE_YEAR, STAT_CAUSE_DESCR, COUNT(DISTINCT OBJECTID) AS FIRE_COUNT, AVG(FIRE_SIZE) AS AVERAGE_SIZE FROM fires GROUP BY FIRE_YEAR, STAT_CAUSE_DESCR ORDER BY FIRE_YEAR DESC;"
years_df = pd.read_sql_query(yquery,con)
print(years_df)

     FIRE_YEAR   STAT_CAUSE_DESCR  FIRE_COUNT  AVERAGE_SIZE
0         2015              Arson        6626     28.644608
1         2015           Campfire        3731     12.946318
2         2015           Children        1350      5.076956
3         2015     Debris Burning       18339     12.702001
4         2015      Equipment Use        5484     92.795555
..         ...                ...         ...           ...
307       1992  Missing/Undefined        8366     18.880191
308       1992          Powerline         128     24.852344
309       1992           Railroad        1999     19.040540
310       1992            Smoking        2618     20.131726
311       1992          Structure          47     10.087234

[312 rows x 4 columns]

In [11]:
causequery = "SELECT STAT_CAUSE_DESCR, COUNT(DISTINCT OBJECTID), AVG(FIRE_SIZE), AVG(CONT_DATE - DISCOVERY_DATE) FROM fires GROUP BY STAT_CAUSE_DESCR ORDER BY COUNT(DISTINCT FIRE_CODE) DESC"
cause_df = pd.read_sql_query(causequery,con)
print(cause_df)
print(cause_df.columns)

     STAT_CAUSE_DESCR  COUNT(DISTINCT OBJECTID)  AVG(FIRE_SIZE)  \
0           Lightning                    278468      312.543994
1       Miscellaneous                    323805       44.453310
2               Arson                    281455       33.707961
3            Campfire                     76139       45.036860
4      Debris Burning                    429028       13.928678
5       Equipment Use                    147612       46.060255
6   Missing/Undefined                    166723       52.492610
7            Children                     61167        7.681107
8           Fireworks                     11500       27.670201
9             Smoking                     52869       15.938651
10          Powerline                     14448      111.395547
11           Railroad                     33455       25.395719
12          Structure                      3796       45.360746

    AVG(CONT_DATE - DISCOVERY_DATE)
0                          3.005525
1                          1.363937
2                          0.548622
3                          0.783850
4                          0.377767
5                          0.510349
6                          0.498260
7                          0.326313
8                          0.483398
9                          1.038886
10                         0.993355
11                         0.497155
12                         0.702694
Index(['STAT_CAUSE_DESCR', 'COUNT(DISTINCT OBJECTID)', 'AVG(FIRE_SIZE)',
       'AVG(CONT_DATE - DISCOVERY_DATE)'],
      dtype='object')

In [12]:
statequery = "SELECT STATE, COUNT(DISTINCT OBJECTID), AVG(FIRE_SIZE) FROM fires GROUP BY STATE ORDER BY AVG(FIRE_SIZE) DESC"

state_df = pd.read_sql_query(statequery,con)
print(state_df)

   STATE  COUNT(DISTINCT OBJECTID)  AVG(FIRE_SIZE)
0     AK                     12843     2509.779198
1     NV                     16956      531.720650
2     ID                     36698      372.890482
3     NM                     37478      170.234318
4     WY                     14166      169.523555
5     MT                     40767      154.034541
6     WA                     33513      142.697410
7     OR                     61088      137.716104
8     UT                     30725      133.927628
9     NE                      7973      121.334348
10    KS                      7673      120.241601
11    AZ                     71586       77.901837
12    OK                     43239       74.758674
13    TX                    142021       68.906840
14    CA                    189550       67.242725
15    CO                     34157       53.936502
16    SD                     30963       50.733637
17    FL                     90261       49.154653
18    KY                     27089       37.465052
19    DE                       171       28.266959
20    ND                     15201       27.143427
21    MN                     44769       27.041154
22    WV                     21967       26.249877
23    MO                     17953       25.596042
24    HI                      9895       25.544315
25    LA                     30013       22.024586
26    MD                      3622       18.575243
27    IA                      4134       17.293654
28    AR                     31663       16.072761
29    VA                     21833       15.648139
30    TN                     31154       15.620864
31    MS                     79230       14.331488
32    AL                     66570       13.828230
33    MI                     10502       13.352641
34    IL                      2327        9.801253
35    GA                    168867        9.415452
36    IN                      2098        8.256859
37    OH                      3479        6.879521
38    SC                     81315        6.661331
39    NC                    111277        6.564892
40    PA                      8712        6.282227
41    PR                     22081        6.280894
42    NJ                     25949        5.085496
43    VT                       456        3.413346
44    WI                     31861        2.783192
45    MA                      2626        2.332342
46    CT                      4976        2.259508
47    ME                     13150        1.867349
48    NH                      2452        1.575044
49    RI                       480        1.171688
50    NY                     80870        1.159540
51    DC                        66        0.492424